# Java class files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Desktop-specific files
.DS_Store

# IDE - VS Code
.vscode/

# IDE - IntelliJ
.idea/
*.iml
out/
bin/

# Log files
*.log
